<section>
  <div class="max-w-full grid md:grid-cols-2 xl:grid-cols-3 gap-2 overflow-y-auto">
    @for (p of places; track p.id) {
    <div (click)="editPlace(p)"
      class="group w-full flex items-center gap-3 p-3 bg-white dark:bg-gray-950 hover:bg-gray-50 dark:hover:bg-gray-900 rounded-lg cursor-pointer transition-all border border-gray-200 dark:border-gray-800 text-left">

      <div class="w-12 h-12 rounded overflow-hidden bg-gray-100 dark:bg-gray-800">
        <img [src]="p.image || 'favicon.png'" class="w-full h-full object-cover" />
      </div>

      <div class="flex-1 min-w-0">
        <h3 class="text-sm font-semibold text-gray-900 dark:text-white truncate"
          [class]="isPlaceValid(p) ? undefined : 'text-red-500 font-semibold invalid-content'">
          {{ p.name }}
        </h3>
        <p class="text-xs text-gray-600 dark:text-gray-400 truncate mt-0.5">
          {{ p.place }}
        </p>

        <div class="flex flex-wrap gap-1 mt-1.5">
          <span class="flex items-center px-1.5 py-0.5 rounded text-xs"
            [class]="p.allowdog ? 'bg-emerald-100 text-emerald-700 dark:bg-emerald-950 dark:text-emerald-400' : 'bg-gray-100 text-gray-600 dark:bg-gray-800 dark:text-gray-500'">
            🐶
          </span>

          <span class="flex items-center gap-0.5 px-1.5 py-0.5 rounded text-xs font-medium"
            [class]="p.visited ? 'bg-blue-100 text-blue-700 dark:bg-blue-950 dark:text-blue-400' : 'bg-gray-100 text-gray-600 dark:bg-gray-800 dark:text-gray-500'">
            <i class="pi" style="font-size: 12px;" [class]="p.visited ? 'pi-eye' : 'pi-eye-slash'"></i>
          </span>

          @if (p.category_id) {
          <span class="flex items-center gap-1 px-1.5 py-0.5 rounded text-xs font-medium max-w-[90px]"
            [style.color]="categoryIDToCategory(p.category_id).color"
            [style.background-color]="categoryIDToCategory(p.category_id).color + '15'"
            class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded flex gap-2 items-center truncate dark:bg-blue-100/85"><i
              class="pi pi-box text-xs"></i>{{ categoryIDToCategory(p.category_id).name }}</span>
          }
        </div>
      </div>
    </div>
    }
  </div>

  <div class="mt-4 flex justify-between">
    <p-button text (click)="closeDialog()" label="Cancel" severity="danger" />
    <p-button text (click)="confirmDialog()" label="Create" />
  </div>
</section>