<section [formGroup]="itemBatchForm" class="grid gap-4">
  <p-floatlabel variant="in">
    <p-select [options]="days" optionValue="id" optionLabel="label" inputId="day_id" id="day_id"
      formControlName="day_id" [checkmark]="true" class="w-full capitalize" fluid>
      <ng-template let-day #item>
        <div class="whitespace-normal">{{ day.label }}</div>
      </ng-template>
    </p-select>
    <label for="day_id">Day</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <textarea pTextarea id="batch" formControlName="batch" rows="6" [placeholder]="pholder" fluid></textarea>
    <label for="batch">Batch</label>
  </p-floatlabel>

  <div class="mt-4 text-right">
    <p-button (click)="closeDialog()" text [disabled]="!itemBatchForm.valid" label="Add" />
  </div>
</section>