<div id="map"></div>

@if (selectedPlace) {
<app-place-box [selectedPlace]="selectedPlace" (deleteEmitter)="deletePlace()" (editEmitter)="editPlace()"
  (favoriteEmitter)="favoritePlace()" (gpxEmitter)="getPlaceGPX()" (visitEmitter)="visitPlace()"
  (closeEmitter)="closePlaceBox()"></app-place-box>
}

<div class="absolute z-30 top-2 right-2 p-2 bg-white shadow rounded dark:bg-surface-900">
  <p-button (click)="toggleMarkersList()" text severity="secondary" icon="pi pi-map-marker" />
</div>

<div class="absolute z-30 top-20 right-2 p-2 bg-white shadow rounded dark:bg-surface-900">
  <p-button (click)="toggleFilters()" text [severity]="viewFilters ? 'danger' : 'secondary'"
    [icon]="viewFilters ? 'pi pi-times' : 'pi pi-filter'" />
</div>

<div [class.z-50]="viewSettings"
  class="absolute z-30 top-[9.5rem] right-2 p-2 bg-white shadow rounded dark:bg-surface-900">
  <p-button (click)="toggleSettings()" text [severity]="viewSettings ? 'danger' : 'secondary'"
    [icon]="viewSettings ? 'pi pi-times' : 'pi pi-cog'" />
</div>

<div class="absolute z-30 bottom-4 right-2">
  <div class="relative group flex flex-col-reverse items-end h-28">
    <div
      class="absolute right-0 bottom-20 p-2 bg-white shadow rounded transition-all duration-200 opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto dark:bg-surface-900">
      <p-button (click)="batchAddModal()" text severity="secondary" icon="pi pi-ellipsis-v" />
    </div>

    <div class="p-2 bg-white shadow rounded dark:bg-surface-900">
      <p-button (click)="addPlaceModal()" text severity="secondary" icon="pi pi-plus" />
    </div>
  </div>
</div>

<div class="absolute z-30 top-2 left-2 p-2 bg-white shadow rounded dark:bg-surface-900">
  <p-button (click)="gotoTrips()" label="Trips" severity="secondary" text icon="pi pi-bars" />
</div>

@if (viewMarkersList) {
<section
  class="absolute left-2 right-2 top-4 bottom-4 md:max-w-md bg-white z-40 rounded-xl shadow-2xl p-4 flex flex-col dark:bg-surface-900">
  <div class="mt-1 p-4 flex items-center justify-between">
    <div>
      <h1 class="font-semibold tracking-tight text-xl">Points</h1>
      <span class="text-xs text-gray-500">Currently displayed points</span>
    </div>

    <div class="flex gap-2">
      <p-button (click)="toggleMarkersListSearch()" icon="pi pi-search" text severity="secondary" />
      <p-button (click)="toggleMarkersList()" icon="pi pi-times" text severity="danger" />
    </div>
  </div>

  <div class="max-w-full overflow-y-auto">
    @if (viewMarkersListSearch) {
    <div class="mb-4">
      <p-floatlabel variant="in">
        <input id="search" pSize="small" [formControl]="searchInput" pInputText fluid />
        <label for="search">Search...</label>
      </p-floatlabel>
    </div>
    }

    @for (p of visiblePlaces; track p.id) {
    <div
      class="mt-4 flex items-center gap-4 hover:bg-gray-50 rounded-xl cursor-pointer py-2 px-4 dark:hover:bg-gray-800"
      (click)="gotoPlace(p)" (mouseenter)="hoverPlace(p)" (mouseleave)="resetHoverPlace()">
      <img [src]="p.image || p.category.image" class="w-12 rounded-full object-fit">

      <div class="flex flex-col gap-1 truncate">
        <h1 class="tracking-tight truncate dark:text-surface-300">{{ p.name }}</h1>
        <span class="text-xs text-gray-500 truncate">{{ p.place }}</span>

        <div class="flex gap-0.5">
          @if (p.allowdog) {
          <span class="bg-green-100 text-green-800 text-sm me-2 px-2.5 py-0.5 rounded dark:bg-green-100/85">🐶</span>
          } @else {
          <span class="bg-red-100 text-red-800 text-sm me-2 px-2.5 py-0.5 rounded dark:bg-red-100/85">🐶</span>
          }

          @if (p.visited) {
          <span class="bg-green-100 text-green-800 text-sm me-2 px-2.5 py-0.5 rounded dark:bg-green-100/85"><i
              class="pi pi-eye text-xs"></i></span>
          } @else {
          <span class="bg-red-100 text-red-800 text-sm me-2 px-2.5 py-0.5 rounded dark:bg-red-100/85"><i
              class="pi pi-eye-slash text-xs"></i></span>
          }

          <span
            class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded flex gap-2 items-center truncate dark:bg-blue-100/85"><i
              class="pi pi-box text-xs"></i>{{ p.category.name }}</span>
        </div>
      </div>
    </div>
    } @empty {
    <div class="text-center">
      <h1 class="tracking-tight">No data</h1>
      <span class="text-xs text-gray-500">Try moving the map to see markers</span>
    </div>
    }
  </div>
</section>
}

@if (viewFilters) {
<section
  class="absolute right-2 top-36 bg-white z-40 rounded-xl shadow-2xl p-8 max-w-screen md:max-w-md dark:bg-surface-900">

  <div class="mt-1 flex justify-between items-center">
    <div>
      <h1 class="font-semibold tracking-tight text-xl">Filters</h1>
      <span class="text-xs text-gray-500">You can customize the view</span>
    </div>

    <p-button text icon="pi pi-refresh" severity="danger" (click)="resetFilters()" />
  </div>

  <div class="mt-2 grid gap-2 select-none">
    <div class="flex justify-between">
      <div>Visited</div>
      <p-toggleswitch [(ngModel)]="filter_display_visited" (onChange)="updateMarkersAndClusters()" />
    </div>
    <div class="flex justify-between">
      <div>Allow dog only</div>
      <p-toggleswitch [(ngModel)]="filter_dog_only" (onChange)="updateMarkersAndClusters()" />
    </div>
    <div class="flex justify-between">
      <div>Favorites only</div>
      <p-toggleswitch [(ngModel)]="filter_display_favorite_only" (onChange)="updateMarkersAndClusters()" />
    </div>
  </div>

  <div class="mt-8">
    <h1 class="font-semibold tracking-tight text-xl">Categories</h1>
  </div>

  <div class="mt-4 grid items-center gap-2">
    @for (c of categories; track c.id) {
    <div class="flex justify-between truncate select-none">
      <div class="truncate pr-8">{{ c.name }}</div>

      <div>
        <p-toggleswitch [ngModel]="activeCategories.has(c.name)" (onChange)="updateActiveCategories(c.name)" />
      </div>
    </div>
    }
  </div>
</section>
}

@if (viewSettings) {
<section class="absolute inset-0 flex items-center justify-center z-40 bg-black/30">
  <div
    class="w-10/12 max-w-screen md:max-w-3xl h-fit max-h-screen bg-white rounded-xl shadow-2xl p-8 z-50 dark:bg-surface-900">
    <p-tabs value="0" scrollable>
      <p-tablist>
        <p-tab value="0" class="flex items-center gap-2">
          <i class="pi pi-info-circle"></i><span class="font-bold whitespace-nowrap">About</span>
        </p-tab>
        <p-tab value="1" class="flex items-center gap-2">
          <i class="pi pi-map"></i><span class="font-bold whitespace-nowrap">Settings</span>
        </p-tab>
        <p-tab value="2" class="flex items-center gap-2">
          <i class="pi pi-th-large"></i><span class="font-bold whitespace-nowrap">Categories</span>
        </p-tab>
        <p-tab value="3" class="flex items-center gap-2">
          <i class="pi pi-database"></i><span class="font-bold whitespace-nowrap">Data</span>
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="mt-1 flex justify-between align-items">
            <h1 class="font-semibold tracking-tight text-xl">About</h1>

            <div class="flex">
              <p-button (click)="logout()" text severity="primary" icon="pi pi-sign-out" label="Log out" />
              <p-button (click)="toGithub()" text severity="primary" icon="pi pi-github" size="large" />
            </div>
          </div>

          <div class="flex flex-col md:flex-row justify-center md:justify-start items-center gap-4 mt-8 md:mt-4">
            <a href="https://ko-fi.com/itskovacs" target="_blank" class="custom-button flex items-center">Buy me
              a
              coffee</a>
            <span class="text-center text-gray-400">Coffee and contributions are greatly appreciated!</span>
          </div>

          <div class="flex flex-col md:flex-row justify-center md:justify-start items-center gap-4 mt-8 md:mt-4">
            @if (this.info?.update) {
            <button class="custom-button orange" (click)="toGithub()">
              Open Github
            </button>
            <span class="text-center flex items-center gap-2 text-gray-400">TRIP {{ this.info?.update }}
              available on
              Github</span>
            } @else {
            <button class="custom-button" (click)="check_update()">
              Check for updates
            </button>
            <span class="text-center flex items-center gap-2 text-gray-400">TRIP {{ info?.version }}</span>
            }
          </div>

          <div class="mt-4 text-center text-sm text-gray-500 dark:text-gray-400">Made with ❤️ in BZH</div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="mt-4">
            <h1 class="font-semibold tracking-tight text-xl">Low Network Mode</h1>
            <span class="text-xs text-gray-500 dark:text-gray-400">You can disable Low Network Mode. Default is true.
              Display Category
              image instead of Place image.</span>
          </div>
          <div class="mt-4 flex justify-between">
            <div>Low Network Mode</div>
            <p-toggleswitch [(ngModel)]="isLowNet" (onChange)="toggleLowNet()" />
          </div>

          <div class="mt-4">
            <h1 class="font-semibold tracking-tight text-xl">Dark Mode</h1>
          </div>
          <div class="mt-4 flex justify-between">
            <div>Enable Dark mode</div>
            <p-toggleswitch [(ngModel)]="isDarkMode" (onChange)="toggleDarkMode()" />
          </div>

          <section [formGroup]="settingsForm">
            <div class="mt-4 flex justify-between items-center">
              <div>
                <h1 class="font-semibold tracking-tight text-xl">Map parameters</h1>
                <span class="text-xs text-gray-500 dark:text-gray-400">You can customize the default view on map
                  loading</span>
              </div>

              <p-button icon="pi pi-ethereum" pTooltip="Set current map center as default"
                (click)="setMapCenterToCurrent()" text />
            </div>

            <div class="grid grid-cols-2 gap-4 mt-4">
              <p-floatlabel variant="in">
                <input id="mapLat" formControlName="mapLat" pInputText fluid />
                <label for="mapLat">Lat.</label>
              </p-floatlabel>

              <p-floatlabel variant="in">
                <input id="mapLng" formControlName="mapLng" pInputText fluid />
                <label for="mapLng">Long.</label>
              </p-floatlabel>
            </div>

            <div class="mt-4">
              <h1 class="font-semibold tracking-tight text-xl">Currency</h1>
            </div>
            <div class="mt-4">
              <p-floatlabel variant="in" class="md:col-span-2">
                <p-select [options]="currencySigns" optionValue="s" optionLabel="c" inputId="currency" id="currency"
                  class="capitalize" formControlName="currency" [checkmark]="true" [showClear]="true" fluid />
                <label for="currency">Currency</label>
              </p-floatlabel>
            </div>

            <div class="mt-4">
              <h1 class="font-semibold tracking-tight text-xl">Filters</h1>
              <span class="text-xs text-gray-500 dark:text-gray-400">You can customize the categories to hide by
                default</span>
            </div>
            <div class="mt-4">
              <p-floatlabel variant="in" class="md:col-span-2">
                <p-multiselect [options]="doNotDisplayOptions" [group]="true" [filter]="false" [showToggleAll]="false"
                  class="capitalize" formControlName="do_not_display" [showClear]="true" fluid />
                <label for="do_not_display">Hide</label>
              </p-floatlabel>
            </div>

            <div class="mt-2 w-full text-right">
              <p-button (click)="updateSettings()" label="Update" text
                [disabled]="!settingsForm.valid || settingsForm.pristine" />
            </div>
          </section>
        </p-tabpanel>
        <p-tabpanel value="2">

          <div class="mt-1 p-2 mb-2 flex justify-between items-center">
            <div>
              <h1 class="font-semibold tracking-tight text-xl">Categories</h1>
              <span class="text-xs text-gray-500 dark:text-gray-400">You can modify the categories.</span>
              <span class="ml-1 text-xs text-orange-500">You cannot delete a used category.</span>
            </div>

            <p-button icon="pi pi-plus" (click)="addCategory()" text />
          </div>

          <div class="mt-4 flex flex-col">
            @for (category of categories; track category.id) {
            <div class="p-3 flex items-center justify-between rounded-md hover:bg-gray-50 dark:hover:bg-gray-800">
              <div class="flex items-center gap-2">
                <img [src]="category.image" class="size-8 rounded-full" />{{ category.name }}
              </div>

              <div class="flex gap-4">
                <p-button severity="danger" (click)="deleteCategory(category.id)" icon="pi pi-trash" text />
                <p-button (click)="editCategory(category)" icon="pi pi-pencil" text />
              </div>
            </div>
            }
          </div>
        </p-tabpanel>
        <p-tabpanel value="3">
          <div class="mt-1">
            <h1 class="font-semibold tracking-tight text-xl">Data</h1>
            <span class="text-xs text-gray-500">You can import/export your data</span>
          </div>

          <div class="flex justify-around mt-4 gap-4">
            <p-button (click)="exportData()" text icon="pi pi-download" label="Export" />
            <p-button (click)="fileUpload.click()" text icon="pi pi-upload" label="Import" />
            <input type="file" class="file-input" style="display: none;" (change)="importData($event)" #fileUpload>
          </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</section>
}