<section>
  <div [formGroup]="dayForm" class="grid md:grid-cols-3 gap-4">
    <p-floatlabel variant="in" class="md:col-span-2">
      <input id="label" formControlName="label" autofocus pInputText fluid (keyup.enter)="closeDialog()" />
      <label for="label">Label</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-datepicker id="date" formControlName="dt" [iconDisplay]="'input'" [showIcon]="true" appendTo="body" fluid
        (keyup.enter)="closeDialog()" />
      <label for="date">Date</label>
    </p-floatlabel>

    <div class="relative col-span-full">
      <textarea pTextarea id="notes" placeholder="Day notes" formControlName="notes" rows="4" #notesInput fluid
        class="!pr-10"></textarea>
      @if (notesInput.value) {
      <p-button text icon="pi pi-times" severity="danger" class="absolute right-2 top-2"
        (click)="notesInput.value = ''; dayForm.markAsDirty()" pTooltip="Clear" />
      }
    </div>
  </div>

  <div class="mt-4 text-right">
    <p-button (click)="closeDialog()" [disabled]="!dayForm.dirty || !dayForm.valid">{{ dayForm.get("id")?.value
      !== -1 ? "Update" : "Create" }}</p-button>
  </div>
</section>