fastapi[standard]~=0.141
sqlmodel~=0.0
pydantic~=2.11
PyJWT~=2.14
argon2-cffi~=25.1
pydantic_settings~=2.9
Pillow~=11.2
authlib~=1.8
alembic~=1.16
pyotp~=2.9
defusedxml~=0.7
apprise~=1.9
httpx2==2.13.0
