<section>
  <div pFocusTrap class="grid grid-cols-2 md:grid-cols-4 gap-4" [formGroup]="placeForm">
    <div class="relative col-span-2">
      <p-floatlabel variant="in">
        <input id="name" formControlName="name" pInputText autofocus fluid (keydown.shift.enter)="gmapsSearchText()"
          (keydown.control.enter)="closeDialog()" />
        <label for="name">Name</label>
      </p-floatlabel>
      <p-button icon="pi pi-sparkles" variant="text" [disabled]="!placeForm.get('name')!.value"
        class="absolute right-2 top-1/2 -translate-y-1/2" pTooltip="Complete using GMaps API"
        (click)="gmapsSearchText()" />
    </div>

    <p-floatlabel variant="in">
      <input id="lat" formControlName="lat" pInputText fluid placeholder="Lat or Lat, Lng" />
      <label for="lat">Latitude</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <input id="lng" formControlName="lng" pInputText fluid />
      <label for="lng">Longitude</label>
    </p-floatlabel>

    <p-inputgroup class="col-span-2 lg:col-span-3">
      <p-floatlabel variant="in">
        <input id="place" formControlName="place" pInputText fluid />
        <label for="place">Place</label>
      </p-floatlabel>
      <p-inputgroup-addon>
        <p-button icon="pi pi-info-circle" tabindex="-1" [pTooltip]="placeInputTooltip" [escape]="false"
          tooltipEvent="focus" severity="secondary" class="h-full" />
      </p-inputgroup-addon>
    </p-inputgroup>

    <p-floatlabel variant="in" class="col-span-2 lg:col-span-1">
      <p-select [options]="(categories$ | async) || []" optionValue="id" optionLabel="name"
        [loading]="!(categories$ | async)?.length" inputId="category" id="category" formControlName="category"
        [checkmark]="true" class="capitalize" fluid>
        <ng-template let-category #item>
          <div class="whitespace-normal">{{ category.name }}</div>
        </ng-template>
      </p-select>
      <label for="category">Category</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-inputnumber id="duration" formControlName="duration" mode="decimal" fluid />
      <label for="duration">Duration</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <p-inputnumber id="price" formControlName="price" mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="2"
        fluid />
      <label for="price">Price</label>
    </p-floatlabel>

    <div class="col-span-2 grid grid-cols-2 md:grid-cols-3 gap-4">
      <div class="flex justify-center items-center">
        <p-checkbox formControlName="allowdog" [binary]="true" inputId="allowdog" />
        <label for="allowdog" class="ml-2">Allow 🐶</label>
      </div>

      <div class="flex justify-center items-center">
        <p-checkbox formControlName="visited" [binary]="true" inputId="visited" />
        <label for="visited" class="ml-2">Visited</label>
      </div>

      <div class="col-span-2 md:col-span-1 flex justify-center items-center">
        @if (placeForm.get('gpx')?.value) {
        <p-button text icon="pi pi-times" label="GPX" severity="danger" (click)="clearGPX()" />
        } @else {
        <p-button text icon="pi pi-paperclip" label="GPX" (click)="gpxInput.click()" />
        }
        <input type="file" accept=".gpx" #gpxInput class="hidden" (change)="onGPXSelected($event)" />
      </div>
    </div>

    <div class="grid col-span-full md:grid-cols-4">
      <div class="relative col-span-full md:col-span-3">
        <p-floatlabel variant="in">
          <textarea pTextarea id="description" formControlName="description" rows="3" #descriptionInput autoResize
            fluid></textarea>
          <label for="description">Description</label>
        </p-floatlabel>
        @if (descriptionInput.value) {
        <p-button icon="pi pi-times" severity="danger" variant="text" class="absolute right-2 top-2"
          (click)="placeForm.get('description')?.setValue('')" pTooltip="Clear" />
        }
      </div>

      <div class="mt-4 md:mt-0 grid place-items-center col-span-full md:col-span-1">
        @if (placeForm.get("image_id")?.value) {
        <div class="w-2/3 relative group cursor-pointer" (click)="imageInput.click()">
          <img [src]="placeForm.get('image')?.value"
            class="w-full max-h-20 object-cover rounded-full shadow-lg transition-transform duration-300" />
          <div
            class="absolute inset-0 bg-black/50 rounded-full flex flex-col gap-4 items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <span class="text-sm text-gray-300">Click to edit</span><i class="pi pi-upload text-white"></i>
          </div>
        </div>
        } @else {
        @if (placeForm.get("image")?.value) {
        <div class="w-2/3 relative group cursor-pointer" (click)="clearImage()">
          <img [src]="placeForm.get('image')?.value"
            class="w-full max-h-20 object-cover rounded-full shadow-lg transition-transform duration-300" />
          <div
            class="absolute inset-0 bg-black/50 rounded-full flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <i class="pi pi-trash text-white text-3xl"></i>
          </div>
        </div>
        } @else {
        <div class="w-2/3 relative group cursor-pointer" (click)="imageInput.click()">
          <img src="/favicon.png"
            class="w-full max-h-20 object-cover rounded-full shadow-lg transition-transform duration-300" />
          <div
            class="absolute inset-0 bg-black/50 rounded-full flex flex-col gap-4 items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <span class="text-sm text-gray-300">Click to edit</span><i class="pi pi-upload text-white"></i>
          </div>
        </div>
        }
        }
        <input type="file" accept="image/*" #imageInput class="hidden" (change)="onImageSelected($event)" />
      </div>
    </div>
  </div>

  <div class="mt-4 text-right">
    <p-button (click)="closeDialog()" [disabled]="!placeForm.dirty || !placeForm.valid">{{ placeForm.get("id")?.value
      !== -1 ? "Update" : "Create" }}</p-button>
  </div>
</section>